//use components
@use 'components/cube';
@use 'components/animations';
@use 'components/marquee';

//use sections
@use 'sections/home';
@use 'sections/portfolio';
@use 'sections/timeline';
@use 'sections/contact';


$darkText: 'black';
$meHeight: '15vmin';

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-snap-type: y mandatory;
}

body {

    text-align: center;
    //font-family: 'Ubuntu Mono', sans-serif;
    font-size: 1.8vh;//1.3vmax;
    font-family: 'Poppins', sans-serif;
    scroll-snap-type: y mandatory;
    overflow: scroll;
    background-color: black;

    #loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: black;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        //transition: opacity 1s ease-in-out;

        @keyframes spin {
            0% {
                transform: rotateY(0deg);
            }

            100% {
                transform: rotateY(359deg);
            }
        }

        img {
            width: 15vmin;
            height: 15vmin;
            animation: spin 1.5s ease-in-out infinite;

        }
    }

    h2 {
        font-size: 2.6max;
    }

    section {
        //width: 100vw;
        height: 100vh;
        //background-image: url('../images/background.avif');
        background-size: contain;
        background-repeat: no-repeat;
        background-color: white;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        overflow: hidden;
    }
}