#contact {
    --grey: rgb(77, 77, 77);

    display: flex;
    flex-direction: column;
    font-family: 'Turret Road', cursive;

    #main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex-grow: 1;

        #text {
            font-size: 10vmin;

            h2 {
                display: block;
            }

            h2:first-of-type {
                color: blue;
            }
        }

        /* #form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            //width: 100%;
            height: 100%;
            background-color: blue;
            padding: 10%;
            box-sizing: border-box;
            border-bottom-left-radius: 10vmin;
            font-family: 'Poppins';

            input,
            textarea,
            button {
                text-align: center;
                border-radius: 2vmin;
                font-size: 2vmax;
                padding: 1vmin;
                border: none;
                font-family: 'Noto Sans', sans-serif;
            }

            input,
            textarea {
                width: 100%;
                color: white;
                background-color: rgb(31, 194, 244);
            }

            input:focus,
            textarea:focus {
                background-color: white;
                color: black;
                outline: none;
                border: none;
            }

            button {
                background-color: white;
            }

            input::placeholder,
            textarea::placeholder {
                color: inherit;
            }

            input[type="submit"] {
                width: 100%;
                height: 100%;
                border: none;
                background-color: blue;
                color: white;
                font-size: 20vmin;
                text-align: center;
                cursor: pointer;
            }
        } */
    }

    /* #main>* {
        flex: 1;
    } */

    #contactBtn {
        background-color: blue;
        color: white;
        font-size: 5vh;
        cursor: pointer;
        border: none;
        padding: 3vmin;
        flex-grow: 0;
        border-radius: 8vmin;
        font-family: 'Turret Road', cursive;

    }

    #wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;

        #body {
            box-sizing: border-box;
            width: 80%;
            height: 80%;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            border: 6px solid black;

            #closeBtn {
                font-size: 6vmin;
                cursor: pointer;
                border-top-left-radius: 10vmin;
                align-self: flex-end;
                margin: 4vmin;
                margin-bottom: 0;
                color: var(--grey);
            }

            #form {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                flex-grow: 1;

                input,
                textarea,
                button {
                    text-align: center;
                    border-radius: 2vmin;
                    font-size: 2vmax;
                    padding: 1vmin;
                    border: none;
                    font-family: 'Noto Sans', sans-serif;
                }

                input,
                textarea {
                    width: 50vw;
                    border: 1px solid black;
                }

                input:focus,
                textarea:focus {
                    background-color: var(--grey);
                    color: white;
                    outline: none;
                    border: none;
                }

                button {
                    background-color: black;
                }

                button:hover {
                    background-color: var(--grey);
                    box-shadow: #949494 0.6vmin 0.6vmin 1vmin;
                }

                button:active {
                    background-color: white;
                    border: 1px solid var(--grey);
                    box-shadow: var(--grey) 0.6vmin 0.6vmin 0.5vmin;
                    color: var(--grey);
                }

                input::placeholder,
                textarea::placeholder {
                    color: inherit;
                    /* set the color of the placeholder text to be the same as the input text */
                }
            }

            /* input:focus {
            outline: none;
        } */

            input[type="submit"] {
                width: 100%;
                height: 100%;
                border: none;
                background-color: blue;
                color: white;
                font-size: 20vmin;
                text-align: center;
                cursor: pointer;
            }
        }
    }

    --border: 2px solid rgb(60, 60, 60);

    #footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        border-top: var(--border);

        @media (orientation: portrait) {
            flex-direction: column;
            justify-content: space-evenly !important;

            >* {
                padding: 5% !important;
                width: 100%;
            }

            #social {
                border-top: var(--border);
                border-bottom: var(--border);
            }
        }

        #social {
            display: flex;
            justify-content: space-around;
            font-size: 4.5vh;

            @media (orientation: landscape) {
                border-left: var(--border);
                border-right: var(--border);
            }

            a {
                color: black;
            }

            a:hover {
                color: var(--grey);
            }
        }

        >* {
            flex-grow: 1;
            padding: 1%;
            box-sizing: border-box;
        }
    }

    #marquee {
        margin-top: 8vmin;
        margin-bottom: 4vmin;
        font-size: 4vh; // 2.5vmax;
    }

}