#intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url('/images/background.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 90vmin;
    color: white;
    overflow: hidden;
    background-color: black;
    background-origin: border-box;
    font-family: 'Turret Road', sans-serif;
    box-sizing: border-box;

    @media (orientation:landscape) {
        padding-right: 3.7vmax;
    }

    @media (orientation: portrait) {
        flex-direction: column;
        background-position: 50% 52%;
        padding-bottom: 5vmax;
        background-size: 53vmin !important;

        h1 {
            font-size: 7vmax !important;
            margin-bottom: initial !important;
        }

        #poem {
            font-size: 2.1vmax !important;
        }
    }

    >div {
        margin: 4vmax;
    }

    h1 {
        font-size: 5vmax;
        display: block;
        margin-bottom: 3vmax;
        font-weight: 500;
        font-family: 'Scope One', sans-serif;
        animation: pop-in 1s ease-out forwards;
        animation-delay: 2.5s;
        opacity: 0;
    }

    #poem {
        margin-top: 0;
        font-size: 1.3vmax;
        line-height: 2em;
        opacity: 0;
        animation: fade-in 1s ease-out 1.5s forwards;
        animation-delay: 4s;
    }

    .cube-container {
        opacity: 0;
        animation: fade-in 1s ease-in 3s forwards;
        animation-delay: 5.7s;

        #me {
            opacity: 0;
            padding-bottom: 6vmax;
            width: 20vh;

            @media (orientation: portrait) {

                width: 26vh;
            }
        }

        #bio {
            width: 70vw;
            height: 30vh;
            font-size: 2vmax;
            line-height: 3vmax;
            color: black;
        }
    }

}