#intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url('/images/background.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 70vmin;
    color: white;
    overflow: hidden;
    background-color: black;
    background-origin: border-box;
    font-family: 'Turret Road', sans-serif;
    box-sizing: border-box;

    @media (orientation:landscape) {
        padding-right: 3.7vmax;
    }

    @media (orientation: portrait) {
        flex-direction: column;
        background-position: 50% 52%;
        padding-bottom: 5vmax;
        //background-size: 53vmin !important;
        background-image: none !important;

        h1 {
            font-size: 7vmax !important;
            margin-bottom: 5vmax !important;
        }

        #poem {
            font-size: 2.1vmax !important;
        }

    .cube-container {
            flex-grow: 1;
        }
    }

    >div {
        margin: 4vmax;
    }

    h1 {
        font-size: 5vmax;
        display: block;
        margin-bottom: 3vmax;
        font-weight: 500;
        font-family: 'Scope One', sans-serif;
        /* animation: pop-in 1s ease-out forwards;
        animation-delay: 3.5s; */
    }

    #poem {
        margin-top: 0;
        font-size: 1.3vmax;
        line-height: 2em;
        //opacity: 0;
        /* animation: fade-in 1s ease-out 1.5s forwards;
        animation-delay: 3.5s; */
    }

    .cube-container {
        #me {
            opacity: 0;
            padding-bottom: 6vmax;
            width: 20vh;

            @media (orientation: portrait) {

                width: 26vh;
            }
        }

        #bioContainer {
            width: 70vw;
            font-family: 'Anonymous Pro', monospace;
            font-size: 2vmax;
            line-height: 2.5vmax;
        }
    }

}

