.portfolio {
    //background-color: white;
    display: flex;
    justify-content: center;
    font-family: 'IBM Plex Serif', sans-serif;

    @media (orientation: portrait) {
        flex-direction: column-reverse;
    }

    .explanation {
        padding: 4vmin;
        flex-basis: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;


        .box {
            display: flex;
            flex-direction: column;
            gap: 3vmin;
            border-radius: 3vh;
            max-height: 80vmin;
            align-items: center;
            padding: 7vmin;

            h2 {
                margin-bottom: 2vmin;
            }

            p {
                text-align: justify;
            }

            $btnPadding: 1vmax;



            .btnContainer {
                display: flex;
                justify-content: space-around;
                width: 95%;
            }


            //buttons
            a {
                display: inline-block;
                padding: 1vmin 2vmin;
                background-color: blue; //rgb(31, 194, 244);
                color: #eaeaea;
                text-decoration: none;
                font-weight: bold;
                border-radius: 1.5vmin;
                font-size: 1.4vh;
                align-items: center;
                min-width: 13vh;
                border: 1px white solid;
                font-family: 'Poppins', sans-serif;

                i {
                    margin-right: 1vh;
                }
            }

            a:hover {
                background-color: rgb(1, 174, 226);
            }

        }

    }

    .graphic {
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
        min-width: 100vmin;
        min-height: 100vmin;
    }
}

#app {
    .graphic {
        background-image: url("../images/devices/phone.webp");
    }
}

#website {
.graphic {
    background-image: url("../images/devices/monitor.webp");

    iframe {
        position: relative;
        top: 18.8%;
        width: 74.6%;
        left: 0.4%;
        height: 47.8%;
        border: none;
    }

    @media (orientation: portrait) {
        background-image: url("../images/devices/phone.webp");

        iframe {
            top: -49.6%;
            width: 106%;
            left: -3.2%;
            height: 195.5%;
            transform: scale(0.4);
            border-radius: 10vmin;
        }

        //hide scroll bar
        iframe::-webkit-scrollbar {
            display: none;
        }

    }
}

}