@keyframes pop-in {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hidden {
    opacity: 0;
    filter: blur(20px);
    transition: all 1s;
    background-image: none !important;
}

.hiddenPage {
    @extend .hidden;
    transition-delay: 1s !important;
}

 .show {
    opacity: 1;
    filter: blur(0px);
    transition: all 1s;
}



.hiddenLeft {
    @extend .hidden;

    @media (orientation:landscape) {
        transform: translateX(-90%);
    }

    transition-delay: 0.5s;
}

.showLeft {
    @extend .show;
    transform: translateX(0%);
    transition-delay: 0.5s;
}

.hiddenRight {
    @extend .hidden;

    @media (orientation:landscape) {
        transform: translateX(90%);
    }

    transition-delay: 1;

}

.showRight {
    @extend .show;
    transform: translateX(0%);
    transition-delay: 1s;
}

.hiddenUp {
    @extend .hidden;
    //transform: translateY(0%);
    transition-delay: 0.5s;
}

.showUp {
    @extend .show;
    //transform: translateY(0%);
    transition-delay: 0.5s;
}

.showDown {
    @extend .show;
    transform: translateY(0%);
    transition-delay: 1s;
}

.hiddenDown {
    @extend .hidden;
    transform: translateY(90%);
    transition-delay: 1s;
}

.hiddenParent * {
    @extend .hidden;
    transition-delay: 1s;
}

.showParent * {
    @extend .show;
    transition-delay: 1s;
}

.hiddenParent::before {
    @extend .hidden;
    transition-delay: 1s;
}

.showParent::before {
    @extend .show;
    transition-delay: 1s;
}

.popup {
    @extend .hidden;
    visibility: hidden;
}

.showPopup {
    @extend .show;
    visibility: visible;
}